<%= mini_line_chart('Transactions by minute', 'transactions_by_minute', @transactions_by_minute, '900x80') %>
<div id= "transaction_graph" style="margin: -50px -20px 0 -20px;">
  <canvas id="transactions_by_minute" style="width:900px;height:80px;"></canvas>
</div>

<%= render :partial => 'workshifts/workshift_overview' %>

<div id="dashboard-cashboxes">
  <h1>Cashboxes</h1>
  <%= render :partial => 'cashboxes/cashbox_list' %>
</div>

<div id="dashboard-printers">
  <h1>Printers</h1>
  <%= render :partial => 'printers/printer_list' %>
</div>
