<h1>Workshifts</h1>
<%= render :partial => 'workshifts/workshift_list' %>

<h1>Cashboxes</h1>
<%= render :partial => 'cashboxes/cashbox_list' %>

<h1>Printers</h1>
<%= render :partial => 'printers/printer_list' %>
