development:
  adapter: postgresql
  encoding: unicode
  database: cccash_development
  pool: 5
  username: postgres
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: cccash_test
  pool: 5
  username: postgres
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: cccash_production
  pool: 5
  username: postgres
  password:
